<% include _partials/_header %>
<% include _partials/_nav %>
<!-- todo: style page -->
<div id="banner" class="page-header">
	<div class="row">
		<div class="col-lg-6">
			<h3><%= pageHeader.title %>
				<small> <%= pageHeader.strapline %></small>
			</h3>
		</div>	<!-- /col -->	
	</div>	<!-- /row -->	
</div> <!-- /#banner -->

<div class="row">
	<div class="col s12 m8">
		<div class="row collection">
			<% locations.forEach(function(location){ %>
				<div class="col s12 collection-item">
					<h4>
						<a href="/location"> <%=location.name %></a>
						<% include _partials/_rating %>
						<span class="badge red white-text"><%= location.distance %></span>
					</h4>	
					<p><%= location.address %></p>
					<p>
					<% location.facilities.forEach(function(facility){ %>
						<span class="chip"><%= facility %></span>
					<% }) %>
					</p>
				</div> <!-- /col -->
			<% })	%>
		</div>	<!-- /row -->	
	</div>	<!-- /col -->	
	<div class="col s12 m4">
		<p><%= sidebar %></p>	
	</div>
</div> <!-- /row -->

<% include _partials/_footer %>

